.bundles-overview {
    padding: 100px;
    background-image: url("../../../../assets/images/resized/2K/explore.webp");
    background-size: cover;
    background-position: center;
    height: 100%;
    box-shadow: inset 0 -16em 60em var(--third-color);
}

.bundle-card {
    position: relative;
    width: 85%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    opacity: 0.9;
}

.bottom-right-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.card-container {
    justify-content: center; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding-top: 2%;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.card-example {
    padding: 2vh;
}

.buttons-div {
    display: flex;
}

.card-title-div {
    display: flex;
    justify-content: space-between;
}

.archive-button:hover {
    background-color: var(--primary-color) !important;
}

.publish-button:hover {
    background-color: var(--primary-color) !important;
}

.edit-button:hover {
    background-color: var(--primary-color) !important;
}

.delete-button:hover {
    background-color: var(--primary-color) !important;
}

.header-div{
    font-size: 32px;
    color: var(--white);
    padding-bottom: 15px;
    border-bottom: 1px solid var(--white);
    max-width: 90%;
    font-weight: bold;
}

.no-bundles{
    text-align: center;
    padding-top: 10%;
}

.no-bundles img{
    filter: invert(1);
    /* padding-top: 30%; */
    width: 25%;
    height: 25%;
}

.no-bundles p {
    color: var(--white);
    padding-top: 5%;
    font-size: 35px;
}

.custom-green{
    color: var(--primary-color);
    font-size: 23px;
  }
  
  .custom-green:hover{
    color: var(--third-color);
    transition: 0.5s;
    cursor: pointer;
  }