<div class="full-page-bg"></div>
<div class="login">
    <form [formGroup]="changePasswordForm" (ngSubmit)="requestPasswordChange()" class="needs-validation align-items-start">
    <div class="mb-3">
        <h1 class="header">Forgot password</h1>
    </div>
    <div class="mb-3" *ngIf="!isEmailSent">
        <label for="exampleInputEmail" class="form-label text-start">Email</label>
        <input type="email" formControlName="email"  class="form-control form-input" autocomplete="off" id="exampleInputEmail" 
        [ngClass]="{'red-border': (changePasswordForm.get('email')?.hasError('required') || changePasswordForm.get('email')?.hasError('email'))  && (changePasswordForm.get('email')?.touched|| submitted)}">
    </div>
    <div class="mb-3" *ngIf="isEmailSent">
        <p>An email containing a link to recover your password has been sent to your inbox. Please check your email.</p>
        <p>If you haven't received email click here: <span class="link" (click)="requestPasswordChange()">Send again</span>
        </p>
    </div>

    <button type="submit" *ngIf="!isEmailSent" class="btn sign-in-button">Reset password</button>
    <button (click)="backToHome()" *ngIf="isEmailSent" class="btn sign-in-button">Back to home</button>
    </form>
</div>
