
<div class="about-us-overview2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="about-us-text ">

                    <mat-card class="card-card-title fade-background">
                        <mat-card-title>
                            <p class="text-center title-p text-color">About us</p>
                        </mat-card-title>
                        <mat-card-content class="card-content">
                            <h3 class="text-color">
                               
Explore our extensive travel guides that cover a diverse range of destinations, from exotic beach getaways to vibrant city escapes. We believe in tailoring travel experiences to your preferences, ensuring each trip is uniquely yours. Our team of seasoned travelers and experts curates valuable tips, insider insights, and practical advice to enhance every aspect of your journey.

Discover the latest trends in travel, whether it's sustainable tourism, adventure expeditions, or cultural immersions!
                            </h3>
                        </mat-card-content>
                    </mat-card>

                </div>
            </div>
            <div class="col-md-4">
                <div class="center-image">
                    <div class="circular-background">
                        <div class="circular-image">
                            <img src="https://images.unsplash.com/photo-1503220317375-aaad61436b1b?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHRyYXZlbGxpbmd8ZW58MHx8MHx8fDA%3D" alt="Beautiful destination">
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>
<div class="about-us-overview">
    <div class="container-fluid center-div">
        <xp-carousel></xp-carousel>
    </div>

    <div class="team-div">
        <xp-about-us-team-cards></xp-about-us-team-cards>
    </div>

    <div class="container-fluid explore-div">
                <mat-card class="card-card-title fade-background ">
                    <mat-card-title>
                        <h1 class="text-center title-h1">                       
                            Let's Explore Together
                        </h1>
                    </mat-card-title>
                    <mat-card-content class="card-content">
                        <h3 class=" text-color">
                            Embark on a thrilling journey with Travelo as we navigate the expansive and captivating world of travel. Whether your heart desires serene moments on a pristine beach, the adrenaline-pumping excitement of adventure, or the immersive richness of diverse cultures, Travelo is here to be your steadfast companion every step of the way.
                            Thank you for choosing Travelo as your trusted travel companion. Together, let's craft cherished memories, explore new horizons, and weave a tapestry of experiences that will be etched into the fabric of your life.
                            From the tranquility of sun-drenched beaches to the heights of exhilarating peaks, from the serenity of ancient temples to the vibrancy of bustling markets, Travelo invites you to savor the diversity our planet has to offer. Let's traverse landscapes, embrace cultures, and unlock the wonders that await us.
                             Happy travels with Travelo!
                        </h3>
                        
                    </mat-card-content>
                </mat-card>
                <div class="text-center">
                    <button class="btn btn-primary">Let's Explore</button>
                </div>
    </div>
    
    
</div>