.map-container{
    width: 100%;
    height: 90%;
}
.map-wrapper{
    height: 226px;
}

.custom-green{
    background-color: var(--primary-color);
    border: none;
}

.custom-green:hover{
    background-color: var(--third-color);
    transition: 0.5s;
}
.red-border{
    border: 1px solid red;
  }