<div>
    <div class="create-tour">
        <button class="close-button" (click)="onCancelClick()">X</button>
        <form [formGroup]="tourForm" class="needs-validation align-items-start">
        <div class="mb-3">
            <h1 class="header">Create new tour</h1>
        </div>
        <div class="mb-3">
            <label for="exampleInputTourName" class="form-label text-start">Tour name</label>
            <input type="text" formControlName="name" class="form-control form-input" autocomplete="off" id="exampleInputTourName" placeholder="Enter tour name"
            [ngClass]="{'red-border':  tourForm.get('name')?.hasError('required') && (tourForm.get('name')?.touched || submitted)}">
        </div>
        <button type="submit" class="btn create-button" (click)="onCreateClick()">Create</button>
        </form>
    </div>
</div>
