<div id="carouselExampleIndicators" class="carousel slide size-div">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      </div>
      <div class="carousel-inner ">
        <div class="carousel-item active">
          <div class="container-fluid d-flex align-items-center justify-content-center flex-column">
            <mat-card class="card-card-title fade-background ">
              <mat-card-title>
                <h1 class="text-center text-color2">What Sets Us Apart</h1>
              </mat-card-title>
              
          </mat-card>
            
            <div class="card-container">
              
              <mat-card class="card-1">
                  <mat-card-title class="card-title">
                      <h1 class="text-color">Expertise</h1>
                  </mat-card-title>
                  <mat-card-content class="card-content">
                    <h3 class="text-color">
                      Our team comprises seasoned travelers, travel enthusiasts, and experts in various destinations. We bring firsthand knowledge and a deep understanding of the intricacies of travel to ensure that your journey is seamless and unforgettable.
                    </h3>
                  </mat-card-content>
              </mat-card>

              <mat-card class="card-2">
                <mat-card-title class="card-title">
                    <h1 class="text-color">Personalization</h1>
                </mat-card-title>
                <mat-card-content class="card-content">
                    <h3 class="text-color">
                      We recognize that every traveler is unique, and so are their preferences. Our platform is designed to cater to your individual interests, allowing you to tailor your travel experiences to suit your desires.
                    </h3>
                </mat-card-content>
              </mat-card>

              <mat-card class="card-3">
                <mat-card-title class="card-title">
                    <h1 class="text-color">Resourceful Information</h1>
                </mat-card-title>
                <mat-card-content class="card-content">
                  <h3 class="text-color">
                    Beyond the typical travel tips, our platform is a treasure trove of insightful information. From off-the-beaten-path destinations to hidden gems, we strive to provide you with the most up-to-date and valuable information for your travels.
                  </h3>
                </mat-card-content>
              </mat-card>

            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container-fluid d-flex align-items-center justify-content-center flex-column">
            <mat-card class="card-card-title fade-background2">
              <mat-card-title>
                <h1 class="text-center text-color2">What You Can Expect</h1>
              </mat-card-title>
              
            </mat-card>
            <div class="card-container">

              <mat-card class="card-4">
                  <mat-card-title class="card-title">
                      <h1 class="text-color">Inspiring Content</h1>
                  </mat-card-title>
                  <mat-card-content class="card-content">
                      <h3 class="text-color">
                        Dive into a world of inspiring stories, captivating photographs, and engaging content that will fuel your wanderlust. Our blog is filled with travel narratives, destination guides, and practical tips to help you plan your next adventure.
                      </h3>
                  </mat-card-content>
              </mat-card>

              <mat-card class="card-5">
                <mat-card-title class="card-title">
                    <h1 class="text-color">Community Engagement</h1>
                </mat-card-title>
                <mat-card-content class="card-content">
                  <h3 class="text-color">
                    Join our community of like-minded explorers. Connect with fellow travelers, share your experiences, and gain insights from those who have been there before. Our platform is more than a resource; it's a community of travel enthusiasts.
                  </h3>
                </mat-card-content>
              </mat-card>

              <mat-card class="card-6">
                <mat-card-title class="card-title">
                    <h1 class="text-color">Practical Guidance</h1>
                </mat-card-title>
                <mat-card-content class="card-content">
                  <h3 class="text-color">
                    Whether you're a solo traveler, a couple seeking a romantic getaway, or a family looking for the perfect vacation spot, we provide practical guidance to ensure your journey is as smooth as possible. From travel itineraries to packing tips, we've got you covered.
                  </h3>
                </mat-card-content>
              </mat-card>

            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
</div>
