<div class="d-flex justify-content-center align-items-center flex-column p-5">
    <p>People you are following have visited more tours! Give it a look?</p>
    <br>
    <div class="d-flex justify-content-center align-items-start button-wrapper">
        <button class="confirm-button" mat-raised-button 
            style="margin-right: 10px; background-color: #c1c1c1; color: #fff; font-weight: bold; width: 120px;" (click)="noClick()">No</button>
        <button class="confirm-button" mat-raised-button
            style="background-color: #6d7c4b; color: #fff; font-weight: bold; width: 120px; text-transform: capitalize;" (click)="yesClick()">Yes</button>
    </div>
</div>  