<div class="landing-page-wrapper">
    <canvas id="bg"></canvas>

    <div class="row">
        <div class="content">
            <div class="col-sm-6 button-wrapper">
                <!-- <button mat-raised-button (click)="moveVan()">CLICK IT</button> -->
                <button type="button" class="btn btn-arrow-left" (click)="moveVan()">Let's go</button>
                <button type="button" class="btn btn-text">Travel with Travelo</button>
                <button type="button" class="btn btn-arrow-right">Nah</button>
            </div>
        </div>
    </div>
</div>