<div class="container" #container>
    <div class="left" *ngIf="totalPages > 1" (click)="currentPage != 1 && changePage(-1)" [ngClass]="{'disabled': currentPage ===1}"></div>
    <div class="cards" [ngClass]="{'w-100': totalPages === 1}">
        <div class="overflow" [ngStyle]="{'width': overflowWidth, 'left': pagePosition}">
            <div class="card" *ngFor="let i of arr; let index = index" [ngStyle]="{'width': cardWidth}">
                <span>{{i.name}}</span>
            </div>
        </div>
    </div>
    <div class="right" *ngIf="totalPages > 1" (click)="currentPage != totalPages && changePage(+1)" [ngClass]="{'disabled': currentPage === totalPages}"></div>
</div>
