.custom-dialog-title {
    color: #333;
    font-size: 1.5em;
  }

  .custom-dialog-content {
    color: #555;
    font-size: 1.2em;
  }

  .custom-dialog-actions {
    text-align: right;
  }

  .custom-dialog-button {
    color: #fff;
    background-color: #007bff;
  }