<div class="full-page-bg"></div>
<div class="login">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" class="needs-validation align-items-start">
    <div class="mb-3">
        <h1 class="header">Change password</h1>
    </div>
    <div class="mb-3" *ngIf="!passwordChanged">
        <label for="exampleInputPassword1" class="form-label text-start">New password</label>
        <div class="input-group">
            <input  [type]="fieldTextType ? 'text' : 'password'" 
                    formControlName="newPassword" 
                    class="form-control form-input" 
                    id="exampleInputPassword1"
                    autocomplete="off"
                    [ngClass]="{'red-border': changePasswordForm.get('newPassword')?.hasError('required')  && (changePasswordForm.get('newPassword')?.touched|| submitted)}"
                    (input)="onInputChange()"
            />
            <div class="input-group-append">
                <span class="input-group-text eye-icon"  (click)="toggleFieldTextType()"
                [ngClass]="{'red-border': changePasswordForm.get('newPassword')?.hasError('required')  && (changePasswordForm.get('newPassword')?.touched|| submitted)}">
                    <i
                    class="bi"
                    [ngClass]="{
                        'bi-eye-slash': fieldTextType,
                        'bi-eye': !fieldTextType,
                    }"
                    ></i>
                </span>
            </div>
        </div>
    </div>
    <div class="mb-3" *ngIf="!passwordChanged">
        <label for="exampleInputPassword2" class="form-label text-start">Confirm new password</label>
        <div class="input-group">
            <input  [type]="fieldTextType ? 'text' : 'password'" 
                    formControlName="newPasswordConfirm" 
                    class="form-control form-input" 
                    id="exampleInputPassword2"
                    autocomplete="off"
                    [ngClass]="{'red-border': (changePasswordForm.get('newPasswordConfirm')?.hasError('required') || !samePassword)  && (changePasswordForm.get('newPasswordConfirm')?.touched|| submitted)}"
                    (input)="onInputChange()"
            />
            <div class="input-group-append">
                <span class="input-group-text eye-icon"  (click)="toggleFieldTextType()"                    
                [ngClass]="{'red-border': (changePasswordForm.get('newPasswordConfirm')?.hasError('required') || !samePassword)  && (changePasswordForm.get('newPasswordConfirm')?.touched|| submitted)}">
                    <i
                    class="bi"
                    [ngClass]="{
                        'bi-eye-slash': fieldTextType,
                        'bi-eye': !fieldTextType
                    }"
                    ></i>
                </span>
            </div>
        </div>
    </div>
    <p *ngIf="passwordChanged">Password successfuly changed.</p>

    <button type="submit" *ngIf="!passwordChanged"  class="btn sign-in-button">Reset password</button>
    <button *ngIf="passwordChanged" (click)="backToLogin()" class="btn sign-in-button">Back to Log in</button>
    </form>
</div>
