<h1  class="custom-dialog-title-first">You have started the social challenge. The goal of this challenge is to have {{data.number}} people at the same location. Good luck! <i class="bi bi-emoji-smile-fill custom-green"></i> </h1>
<h1  class="custom-dialog-title">Name: {{ data.name }} </h1>
<h2 class="custom-dialog-description">Description: {{data.description}}</h2>
<div mat-dialog-actions class="custom-dialog-actions">
  <button mat-button (click)="closeDialog()" class="custom-dialog-button">Close</button>
</div>