<div class="mat-card-wrapper">
    <mat-card class="example-card" *ngFor="let coupon of coupons">
        <mat-card-content class="home-card-content">
            <div class="delete-button" (click)="removeCoupon(coupon)"><mat-icon>delete</mat-icon></div>
            <div class="is-used" *ngIf="coupon.isUsed">Used</div>
            <div class="row">
                <div class="col-sm-3 d-flex justify-content-center">
                    <div class="coupon-title">Code</div>
                </div>
                <div class="col-sm-3 d-flex justify-content-center">
                    <div class="coupon-title">Discount</div>
                </div>
                <div class="col-sm-3 d-flex justify-content-center">
                    <div class="coupon-title">Expiration date</div>
                </div>
                <div class="col-sm-3 d-flex justify-content-center">
                    <div class="coupon-title">Tour name</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 d-flex justify-content-center">
                    <div class="coupon-code">{{coupon.code}}</div>
                </div>
                <div class="col-sm-3 d-flex justify-content-center">
                    <div class="content">{{coupon.discount * 100}}%</div>
                </div>
                <div class="col-sm-3 d-flex justify-content-center">
                    <div class="content">{{coupon.formattedDate}}</div>
                </div>
                <div class="col-sm-3 d-flex justify-content-center">
                    <div class="content">{{coupon.tourName}}</div>
                </div>
            </div><br>
            <div class="d-flex justify-content-center action-buttons" (click)="openEditCouponForm(coupon)">
                <mat-card-actions class="d-flex justify-content-center">
                    <div class="edit-button">Edit coupon</div>
                </mat-card-actions>
            </div>
        </mat-card-content>
    </mat-card>
    <button class="bottom-right-button" mat-icon-button (click)="openCreateCouponForm()">
        <mat-icon>add</mat-icon>
    </button>
</div>
