.tour {
  padding-top: 100px;
  background-image: url("../../../../assets/images/resized/2K/explore.webp");
  height: auto;
  min-height: 100vh;
}

.card-container {
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: column;
}


.tour-card:hover{
  transform: scale(1.01); 
  cursor: pointer;
}

.new-tour-button{
  position: relative;
  width: 85%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  margin-left: 7.5%;
  background-color: var(--primary-color) !important;
  color: white !important;
  fill: currentColor;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
}

.new-tour-button:hover{
  transform: scale(1.01);
}

.tour-card {
  position: relative;
  width: 85%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
}

.card-image{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color:white;
  padding:20px;
  /* width: 100%; */
  /* height: 100%; */
}


.card-title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 150px;
  display:flex;
  justify-content: space-between;

}

.card-description {
  font-size: 16px;

}

.bottom-right-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--secondary-color);
  color: white !important;
  border: none;
  padding: 10px;
}
.bottom-left-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
}
.bottom-left-button-2 {
  position: fixed;
  bottom: 20px;
  left: 80px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
}

.circles-container {
  display:flex;
  flex-direction: row;
  gap:10px;
}

.filled-circle {
  color: var(--secondary-color);
}

.empty-circle {
  color: #ccc;
}

.start-tour-button{
background-color: var(--primary-color) !important;
color: white !important;
fill: currentColor;
}


  .empty-circle {
    color: #ccc;
  }

.start-tour-button{
  background-color: var(--primary-color) !important;
  color: white !important;
  fill: currentColor;
}

.disabled{
  background-color: grey !important;
}

.nav-link{
  color: white;
  font-size: medium;
  font-family: Poppins;
}

.nav-link{
  cursor: pointer;
}

.nav-pills .nav-link.active {
  background-color: rgba(128, 128, 128, 0.7); /* Change the background color */
  color: #fff; /* Change the text color */
}

.no-tours{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center; 
}

.no-tours img{
  width: 300px;
  height: 300px;
}
.no-bought-tours{
  text-align: center;
  /* padding-top: 3%; */
}

.no-bought-tours img{
  filter: invert(1);
  width: 35%;
  height: 35%;
}

.no-bought-tours p {
  color: var(--white);
  /* padding-top: 5%; */
  font-size: 30px;
  padding-bottom: 3%;
}

.header-div{
  font-size: 32px;
  color: var(--white);
  padding-bottom: 2%;
  border-bottom: 1px solid var(--white);
  font-weight: bold;
}

.to-top {
  position: fixed;
  bottom: 20px;
  right : 20px;
  background-color: var(--primary-color); 
  color: white; 
  border: none;
  border-radius: 50%; 
  padding: 10px;
  opacity: 0;
  transition: all .2s ease-in-out;
 }
 .show-scrollTop {
  opacity: 1 !important;
  transition: all .2s ease-in-out;
 }
