<div class="main-container pb-5">
  <div class="form-container">
    <div class="tour-form">
      <form class="needs-validation align-items-start" [formGroup]="tourForm">
      <div class="mb-3">
          <h1 class="header">Tour creation <i class="bi bi-patch-question-fill custom-green" matTooltip="In order to save tour, fill every input field with valid data, you need atleast 2 keypoints. After that pick transportation method and press 'Save' button." matTooltipPosition="right"></i></h1>
      </div>
      <div class="row ps-2 mb-3">
        <div class="col-lg-6 fs-6">
          <label for="exampleInputUsername1" class="form-label text-start">Tour name</label>
          <input formControlName="name" required type="text" class="form-control form-input" autocomplete="off" id="exampleInputUsername1"
          [ngClass]="{'red-border':  tourForm.get('name')?.hasError('required') && (tourForm.get('name')?.touched || submitted)}">
        </div>
        <div class="col-lg-6 fs-6">
          <label for="status" class="form-label">Difficulty</label>
          <select formControlName="difficulty" id="status" class="form-control form-select" aria-label="Default select example">
            <option selected value="0">Beginner</option>
            <option selected value="1">Intermediate</option>
            <option selected value="2">Advanced</option>
            <option selected value="3">Pro</option>
          </select>
        </div>
      </div>
     <div class="row ps-2 mb-3">
        <div class="col-lg-6 fs-6">
        <label for="exampleInputUsername1" class="form-label text-start">Tags</label>
        <input formControlName="tags" type="text" class="form-control form-input" autocomplete="off" id="exampleInputUsername1" placeholder="#tag #tag..."
        [ngClass]="{'red-border':  tourForm.get('tags')?.hasError('required') && (tourForm.get('tags')?.touched || submitted)}" required>
        </div>
        <div class="col-lg-6 fs-6">
          <label for="status" class="form-label">Price</label>
          <input formControlName="price" type="number" class="form-control form-input" autocomplete="off" id="exampleInputUsername1" placeholder="50 AC"
          [ngClass]="{'red-border':  tourForm.get('tags')?.hasError('price') && (tourForm.get('price')?.touched || submitted)}" required>
        </div>
      </div>

      <div class="mb-3">
        <label for="exampleInputUsername1" class="form-label text-start">Transportation methods</label>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Select transportation methods
              <mat-icon>directions_car</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="container-fluid">
              <div class="row mb-2 d-flex flex-row justify-content-start align-items-center">
                <div class="col-6 m-0 p-0 form-check form-check-inline d-flex flex-row align-items-stretch">
                  <div class="checkbox-wrapper-13 me-2">
                    <input id="c1-13" type="checkbox" class="example-margin custom-checkbox" (change)="toggleFieldWalk()" [checked]="isWalkChecked">
                  </div>
                  <mat-icon class="me-2">directions_walk</mat-icon> 
                  <p style="margin-top: auto; margin-bottom: auto;">Walking</p>
                </div>
                <div class="col-6" *ngIf="showFieldWalk">
                  <input type="number"
                  class="form-control-sm" placeholder="Estimated time in minutes..."
                  formControlName="walkTime">
                </div>
              </div>
        

              <div class="row mb-2 d-flex flex-row justify-content-start align-items-center">
                <div class="col-6 m-0 p-0 form-check form-check-inline d-flex flex-row align-items-stretch">
                  <div class="checkbox-wrapper-13 me-2">
                    <input id="c1-13" type="checkbox" class="example-margin custom-checkbox" (change)="toggleFieldCar()" [checked]="isCarChecked">
                  </div>
                  <mat-icon class="me-2">directions_car</mat-icon> 
                  <p style="margin-top: auto; margin-bottom: auto;">Car</p>
                </div>
                <div class="col-6" *ngIf="showFieldCar">
                  <input type="number"
                  class="form-control-sm" placeholder="Estimated time in minutes..."
                  formControlName="carTime">
                </div>
              </div>

              <div class="row mb-2 d-flex flex-row justify-content-start align-items-center">
                <div class="col-6 m-0 p-0 form-check form-check-inline d-flex flex-row align-items-stretch">
                  <div class="checkbox-wrapper-13 me-2">
                    <input id="c1-13" type="checkbox" class="example-margin custom-checkbox" (change)="toggleFieldBicycle()" [checked]="isBicycleChecked">
                  </div>
                  <mat-icon class="me-2">directions_bike</mat-icon> 
                  <p style="margin-top: auto; margin-bottom: auto;">Bicycle</p>
                </div>
                <div class="col-6" *ngIf="showFieldBicycle">
                  <input type="number"
                  class="form-control-sm" placeholder="Estimated time in minutes..."
                  formControlName="bicycleTime">
                </div>
              </div>
          </div>
        </mat-expansion-panel>
      </div>
      <div class="mb-3">
        <label for="exampleInputUsername1" class="form-label text-start">Image</label>
        <input formControlName="image" type="text" class="form-control form-input" autocomplete="off" id="exampleInputUsername1" placeholder="Image link"
        [ngClass]="{'red-border':  tourForm.get('image')?.hasError('required') && (tourForm.get('image')?.touched || submitted)}" required>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label text-start">Description</label>
        <textarea formControlName="description" required class="form-control" placeholder="Type your description here..." id="description" rows="3"
        [ngClass]="{'red-border':  tourForm.get('description')?.hasError('required') && (tourForm.get('description')?.touched || submitted)}"></textarea>
      </div>
      

      <button type="submit" class="btn save-button" (click)="createTour()">Save</button>
      </form>
    </div>
    <div class="map-container">
      <xp-map class="map" [mapId]="'tour-form-map'"></xp-map>
      <button matTooltip="Add more keypoints" matTooltipPosition="right" class="keypoints-button" (click)="onAddKeyPoint()" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
      <button matTooltip="Choose more public keypoints" matTooltipPosition="right" class="public-keypoints-button" (click)="onAddPublicKeyPoint()" mat-icon-button>
        <mat-icon>map</mat-icon>
      </button>
    </div>
  </div>
</div>

